<h2 mat-dialog-title>Enter Details</h2>
<mat-dialog-content>
  <form [formGroup]="form">

    <mat-form-field class="full-width">
      <mat-label>Type</mat-label>
      <mat-select formControlName="PasswordType" placeholder="Password Type">
        <mat-option value="Web">Web</mat-option>
        <mat-option value="Desktop">Desktop</mat-option>
        <mat-option value="Game">Game</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>{{ form.controls['PasswordType'].value === 'Web' ? 'Website Name' : (form.controls['PasswordType'].value === 'Desktop' ? 'Application Name' : 'Game Name') }}</mat-label>
      <input matInput formControlName="Name" placeholder="{{ form.controls['PasswordType'].value === 'Game' ? 'Game Name' : 'Website Name' }}">
    </mat-form-field>

    <mat-form-field class="full-width" *ngIf="form.controls['PasswordType'].value !== 'Desktop'">
      <mat-label>{{ form.controls['PasswordType'].value === 'Web' ? 'Website URL' : (form.controls['PasswordType'].value === 'Game' ? 'Game Developer Name' : 'Web URL') }}</mat-label>
      <input matInput formControlName="Url" placeholder="{{ form.controls['PasswordType'].value === 'Web' ? 'Website Name' : (form.controls['PasswordType'].value === 'Game' ? 'Game Developer Name' : 'Web URL') }}">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>UserName</mat-label>
      <input matInput formControlName="UserName" placeholder="UserName">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="Password" placeholder="Password">
    </mat-form-field>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button type="button" (click)="onNoClick()">Cancel</button>
  <button mat-button type="submit" [disabled]="!form.valid" (click)="submit()">Submit</button>
</mat-dialog-actions>
